html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* Reset */

@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

@font-face {
  font-family: MonumentExtended;
  src:url(font/MonumentExtended.otf);
}

body{
  font-family: roboto;
}

.container{
  width: 85%;
  padding-top: 43px;
  margin: 0 auto;
  position: relative;
  /* background-color: aqua; */
}

/* 1320 */

header {
  height: 38px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 13vw;
}

.contact-button {
  margin-left: 2.6vw;
}

.contact-button,
.work-button {
  background-color: transparent;
  border: none;
  font-family: montserrat, sans-serif;
  font-weight: medium;
  font-size: 20px;
  cursor: pointer;
  text-decoration: none;
}

.work-button:hover,
.contact-button:hover {
  color: #DD9F92;
}


.logo {
  font-family: montserrat, sans-serif;
  font-size: 48px;
  font-size: black;
  font-weight: 800;
  color: #3E3E3E;
}

.h1 {
  /* font-size: 128px; */
  font-size: 8vw;
  font-weight: 800;
  font-family: MonumentExtended;
  color: #DD9F92;
  /* line-height: 132px; */
}

.h2 {
  width: 40vw;
  margin-top: 3vw;
  font-size: 1.6vw;
  line-height: 2.5vw;
  letter-spacing: 0.5px;
  font-family: montserrat, sans-serif;
  font-weight: 400;
  margin-bottom: 17vw;
}

.selected-project {
  font-size: 24px;
  font-family: roboto, sans-serif;
  font-weight: 500;
  text-align: center;
}

.wrapper {
  height: auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.wrapper img {
  max-width: 100%;
  object-fit: cover;
  border-radius: 30px;
  cursor: pointer;
}

.card {
  position: relative;
  width: 30%;
  margin-top: 60px;
}

.overlay {
  position: absolute;
  top: 0;
  opacity: 0;
  transition: 1s ease;
}

.card:hover .overlay {
  opacity: 1;
}

.social-media {
  margin-top: 125px;
  display: flex;
  justify-content: center;
  align-content: center;
  margin-bottom: 100px;
  column-gap: 17px;
}

.social-media button {
  background-color: transparent;
  border-radius: 25px;
  width: 50px;
  height: 50px;
}

.social-media button:hover{
  background-color: #c2c2c2;
} 

.social-media img {
  width: 20px;
}

.instagram-button{
  padding-top: 4px;
}

.upwork-button {
  padding-top: 5px;
}

.linkedin-button img{
  width: 17px;
}

.cta-1 {
  font-family: poppins;
  font-size: 59px;
  font-size: 4vw;
  text-align: center;
  margin-bottom: 1vw;
}

.closure {
  position: relative;
}

.cta-2 {
  font-family: roboto;
  font-weight: 500;
  font-size: 21vw;
  color: #E9E9E9;
  text-align: center;
}

.cta-3 {
  background-color: white;
  font-family: Poppins;
  font-size: 1.2vw;
  width: 15%;
  height: 4vw;
  border-radius: 50px;
  position: absolute;
  top: 6vw;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  cursor: pointer;
}

.cta-3:hover {
  background-color: #c2c2c2;
}

footer {
  padding: 0;
  margin: 0;
}

/* .vectorOrange {
  position: absolute;
  top: 500px;
  left: -200px;
}

.vectorBlue {
  position: absolute;
  top: -50px;
  right: -180px;
  z-index: -1;
}

.globe {
  position: absolute;
  top: 80px;
  right: 10px;
} */

@media (max-width: 767px){
  header{
    margin-top: 20px;  
    margin-bottom: 140px;
  }
  
  .logo{
    font-size: 30px;
  }

  .work-button,
  .contact-button{
    font-size: 15px;
  }

  .contact-button{
    margin-left: 0px;
  }

  .h1{
    font-size: 50px;
  }

  .h2{
    margin-top: 30px;
    font-size: 15px;
    font-weight: 300;
    line-height: 25px;
    width: 90%;
  }

  .selected-project{
    font-size: 15px;
  }

  .card{
    width: 90%;
    margin: 0 auto;
  }

  .wrapper img {
    margin-top: 20px;
    border-radius: 20px;
  }

  /* .overlay {
    animation-name: ba;
    animation-duration: 1s;
    animation-iteration-count: infinite;
  }

  @keyframes ba{
    from{opacity: 0; transition: 5s ease;}
    to{opacity: 1; transition: 5s ease;}
  } */


  .social-media{
    margin-bottom: 70px;
  }

  .cta-1{
    font-size: 30px;
    line-height: 40px;
  }

  .cta-3{
    width: 200px;
    height: auto;
    font-size: 25px;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    top: -35px;
  }

  .cta-2 {
    margin-top: 60px;
  }
}

@media (mind-width: 768px) and (max-width: 1024px){
  header{
    margin-top: 50px;
    margin-bottom: 20vw;
  }

  .work-button,
  .contact-button{
    font-size: 30px;
  }

  .h1 {
    font-size: 12vw;
  }

  .h2 {
    margin-top: 50px;
    font-size: 30px;
    font-weight: 300;
    line-height: 40px;
    width: 90%;
  }

  .selected-project {
    margin-top: 200px;
  }

  .card {
    width: 48%;
    margin-top: 40px;
  }

  .cta-3{
    width: 300px;
    height: auto;
    font-size: 30px;
  }
}